# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
/rise_pathway_2024/.dart_tool/
/rise_pathway_2024/.flutter-plugins
/rise_pathway_2024/.flutter-plugins-dependencies
/rise_pathway_2024/.pub-cache/
/rise_pathway_2024/.pub/
/rise_pathway_2024/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/rise_pathway_2024/android/app/debug
/rise_pathway_2024/android/app/profile
/rise_pathway_2024/android/app/release
.rise_pathway_2024.code.workspace


